<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.mapper.UserMapper">

    <insert id="insert" parameterType="com.example.user.vo.UserQueryVO">
        insert into user (id, user_name,role_code,site_id, nick_name, password, sex, email, phone, avatar, status, unit, address, creator, created_time, modifier,
                          modified_time)
        values (#{id},
                #{userName},
                #{roleCode},
                #{siteId},
                #{nickName},
                #{password},
                #{sex},
                #{email},
                #{phone},
                #{avatar},
                #{status},
                #{unit},
                #{address},
                #{creator},
                now(),
                #{modifier},
                now())
    </insert>

    <update id="updateUser">
        update user
        <set>
            <if test="siteId != null and site !=  ''">
                site_id = #{siteId},
            </if>
            <if test="nickName != null and nickName !=  ''">
                nick_name = #{nickName},
            </if>
            <if test="password != null and password !=  ''">
                password = #{password},
            </if>
            <if test="avatar != null and avatar !=  ''">
                avatar = #{avatar},
            </if>
            <if test="sex != null and sex !=  ''">
                sex = #{sex},
            </if>
            <if test="phone != null and phone !=  ''">
                phone = #{phone},
            </if>
            <if test="email != null and email !=  ''">
                email = #{email},
            </if>
            <if test="status != null and status !=  ''">
                status = #{status},
            </if>
            <if test="unit != null and unit !=  ''">
                unit = #{unit},
            </if>
            <if test="address != null and address !=  ''">
                address = #{address},
            </if>
            modifier = #{modifier},
            modified_time = now()
        </set>
        where id = #{id}
    </update>

    <update id="deleteById">
        update user
        set del_flag = '1'
        where id = #{id}
    </update>

    <select id="selectById" resultType="com.example.user.vo.UserQueryVO">
        select id,
               user_name,
               role_code,
               site_id,
               nick_name,
               password,
               sex,
               email,
               phone,
               avatar,
               status,
               unit,
               address,
               creator,
               created_time,
               modifier,
               modified_time
        from user
        where del_flag = '0' and id = #{id}
    </select>

    <select id="selectUser" resultType="com.example.user.vo.UserQueryVO">
        select id, user_name,role_code,site_id, nick_name, password, sex, email, phone, avatar, status, unit, address,
        creator,
        created_time,
        modifier,
        modified_time
        from user
        where del_flag = '0' and role_code != 'ADMIN'
        <if test="userName != null and userName != ''">
            and user_name = #{userName}
        </if>
        limit 1
    </select>

    <select id="selectUserBatch" resultType="com.example.user.vo.UserQueryVO">
        select id, user_name,role_code,site_id, nick_name, password, sex, email, phone, avatar, status, unit, address,
               creator,
               created_time,
               modifier,
               modified_time
        from user
        where del_flag = '0'
          and role_code != 'ADMIN'
        <if test="userName != null and userName != ''">
            and user_name = #{userName}
        </if>
        <if test="nickName != null and nickName != ''">
            and nick_name LIKE CONCAT('%',#{nickName},'%')
        </if>
        <if test="unit != null and unit != ''">
            and unit LIKE CONCAT('%',#{unit},'%')
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone}
        </if>
        <if test="roleCode != null and roleCode != ''">
            and role_code = #{roleCode}
        </if>
        <if test="siteId != null and siteId != ''">
            and site_id = #{roleCode}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>
</mapper>
