<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.task.mapper.TaskMapper">
    <resultMap id="taskResult" type="com.example.task.vo.TaskQueryVO">
        <result property="id" column="id"></result>
        <result property="type" column="type"></result>
        <result property="status" column="status"></result>
        <result property="remark" column="remark"></result>
        <result property="weight" column="weight"></result>
        <result property="inspectionMethod" column="inspectionMethod"></result>
        <result property="checkFlag" column="checkFlag"></result>
        <result property="creator" column="creator"></result>
        <result property="createdTime" column="createdTime"></result>
        <result property="modifier" column="modifier"></result>
        <result property="modifiedTime" column="modifiedTime"></result>
        <collection property="siteInfo" ofType="com.example.site.vo.SiteQueryVO">
            <result property="id" column="siteId"></result>
            <result property="name" column="siteName"></result>
            <result property="chargePerson" column="siteChargePerson"></result>
            <result property="phone" column="sitePhone"></result>
            <result property="address" column="siteAddress"></result>
        </collection>
        <collection property="userInfo" ofType="com.example.user.vo.UserQueryVO">
            <result property="id" column="userId"></result>
            <result property="nickName" column="nickName"></result>
            <result property="phone" column="userPhone"></result>
            <result property="address" column="userAddress"></result>
        </collection>
        <collection property="freightInfo" ofType="com.example.freight.vo.FreightQueryVO">
            <result property="id" column="freightId"></result>
            <result property="name" column="freightName"></result>
            <result property="remark" column="freightRemark"></result>
        </collection>
        <collection property="embarkWarehouseInfo" ofType="com.example.warehouse.vo.WarehouseQueryVO">
            <result property="id" column="embarkWarehouseId"></result>
            <result property="name" column="embarkWarehouseName"></result>
            <result property="chargePerson" column="embarkChargePerson"></result>
            <result property="phone" column="embarkPhone"></result>
            <result property="address" column="embarkAddress"></result>
        </collection>
        <collection property="unloadWarehouseInfo" ofType="com.example.warehouse.vo.WarehouseQueryVO">
            <result property="id" column="unloadWarehouseId"></result>
            <result property="name" column="unloadWarehouseName"></result>
            <result property="chargePerson" column="unloadChargePerson"></result>
            <result property="phone" column="unloadPhone"></result>
            <result property="address" column="unloadAddress"></result>
        </collection>
    </resultMap>

    <insert id="insert" parameterType="com.example.task.entity.Task">
        insert into task (id, type, site_id, remark, user_id, freight_id, weight, inspection_method, check_flag, embark_warehouse_id, unload_warehouse_id, creator, created_time, modifier,
                          modified_time)
        values (#{id},
                #{type},
                #{siteId},
                #{remark},
                #{userId},
                #{freightId},
                #{weight},
                #{inspectionMethod},
                #{checkFlag},
                #{embarkWarehouseId},
                #{unloadWarehouseId},
                #{creator},
                now(),
                #{creator},
                now())
    </insert>

    <update id="update">
        update task
        <set>
            <if test="userId != null and userId !=  ''">
                user_id = #{userId},
            </if>
            <if test="freightId != null and freightId !=  ''">
                freight_id = #{freightId},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="weight != null and weight != ''">
                weight = #{weight},
            </if>
            <if test="inspectionMethod != null and inspectionMethod != ''">
                inspection_method = #{inspectionMethod},
            </if>
            <if test="checkFlag != null and checkFlag != ''">
                check_flag = #{checkFlag},
            </if>
            <if test="embarkWarehouseId != null and embarkWarehouseId != ''">
                embark_warehouse_id = #{embarkWarehouseId},
            </if>
            <if test="unloadWarehouseId != null and unloadWarehouseId != ''">
                unload_warehouse_id = #{unloadWarehouseId},
            </if>
            modifier = #{modifier},
            modified_time = now()
        </set>
        where id = #{id}
    </update>

    <update id="delete">
        update task
        <set>
            deL_flag = '1',
            modifier = #{modifier},
            modified_time = now()
        </set>
        where id = #{id}
    </update>

    <select id="selectTask" resultMap="taskResult">
        select t.id,
        t.type,
        t.status,
        s.id as siteId,
        s.name as siteName,
        s.charge_person as siteChargePerson,
        s.phone as sitePhone,
        s.address as siteAddress,
        t.remark,
        u.id as userId,
        u.nick_name as nickName,
        u.phone as userPhone,
        u.address as userAddress,
        f.id as freightId,
        f.name as freightName,
        t.weight,
        t.inspection_method as inspectionMethod,
        t.check_flag as checkFlag,
        w1.id as embarkWarehouseId,
        w1.name as embarkWarehouseName,
        w1.charge_person as embarkChargePerson,
        w1.phone as embarkPhone,
        w1.address as embarkAddress,
        w2.id as unloadWarehouseId,
        w2.name as unloadWarehouseName,
        w2.charge_person as unloadChargePerson,
        w2.phone as unloadPhone,
        w2.address as unloadAddress,
        t.creator,
        t.created_time as createdTime
        from task t
        left join site s on s.id = t.site_id
        left join user u on u.id = t.user_id
        left join freight f on f.id = t.freight_id
        left join warehouse w1 on w1.id = t.embark_warehouse_id
        left join warehouse w2 on w2.id = t.unload_warehouse_id
        where t.del_flag = '0'
        <if test="id != null and id != ''">
            and t.id = #{id}
        </if>
    </select>

    <select id="queryTasks" resultMap="taskResult">
        select t.id,
        t.type,
        t.status,
        t.site_id as siteId,
        t.remark,
        u.id as userId,
        u.nick_name as nickname,
        u.phone as phone,
        u.address as address,
        f.id as freightId,
        f.name as freightName,
        t.weight,
        t.inspection_method as inspectionMethod,
        t.check_flag as checkFlag,
        w1.id as embarkWarehouseId,
        w1.name as embarkWarehouseName,
        w1.charge_person as embarkChargePerson,
        w1.phone as embarkPhone,
        w1.address as embarkAddress,
        w2.id as unloadWarehouseId,
        w2.name as unloadWarehouseName,
        w2.charge_person as unloadChargePerson,
        w2.phone as unloadPhone,
        w2.address as unloadAddress,
        t.creator,
        t.created_time as createdTime
        from task t
        left join user u on u.id = t.user_id
        left join freight f on f.id = t.freight_id
        left join warehouse w1 on w1.id = t.embark_warehouse_id
        left join warehouse w2 on w2.id = t.unload_warehouse_id
        where t.del_flag = '0'
        <if test="siteId != null and siteId != ''">
            and t.site_id = #{siteId}
        </if>
        <if test="status != null and status != ''">
            and t.status = #{status}
        </if>
        <if test="type != null and type != ''">
            and t.type = #{type}
        </if>
        <if test="userId != null and userId != ''">
            and t.user_id = #{userId}
        </if>
        <if test="freightId != null and freightId != ''">
            and t.freight_id = #{freightId}
        </if>
    </select>
    <select id="selectById" resultType="com.example.task.entity.Task">
        select * from task where del_flag = '0' and id = #{id}
    </select>
</mapper>
